/* Latest update [dd.mm.yyyy]: 29.12.2024 */
* {

    box-sizing: border-box;
    font-family: "Monteserat", Arial, sans-serif;
    scrollbar-width: auto !important;
    scrollbar-color: #8afe7aff #ffffff00 !important;
    letter-spacing: 1px;
    line-height: 16px;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    background-image: url("https://schnuri.com/imgs/thumb/broccoli.png");
    background-repeat: repeat;
    background-size: 128px 128px;
    background-color: #0a5c00;
}

.OuterBody {
    min-height: 100%;
    margin: 0 auto -90px;
}

section {
    float: left;
    width: 100%;
    margin: 50px 0;
}

section article {
    display: flex;
    color: #FFFFFF;
    text-align: center;
    background-color: #0a5c00;
    border-radius: 32px;
    margin: 0 auto;
    padding: 16px;
    max-width: 715px;
    flex-direction: column;
}

img {
    background-color: transparent;
}

p {
    background-color: transparent;
    font-size: 16px;
    text-align: center;
    color: rgb(255, 255, 255);
    line-height: 1.5;
    margin: auto;
}

a {
    color: white;
    background-color: transparent;
    cursor: pointer;
}

h2 {
    text-align: left;
    line-height: 1;
}

.Tag {
    margin: 0;
    font-weight: 700;
    font-size: 20px;
    text-overflow: ellipsis;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}

.Desc {
    margin: 4px 0 16px;
}

.HeaderOne {
    margin: 16px;
    font-weight: 700;
    font-size: 20px;
}

.HeaderTwo {
    margin: 16px;
    font-weight: 700;
    letter-spacing: 0.4px;
    font-size: 16px;
}


.LinkText {
    font-weight: 700;
    font-size: 20px;
}

.LinkTextInsideTheNightmare {
    font-weight: 700;
    font-size: 20px;
    color: #8c9eff;
}

.SFXText {
    font-weight: 700;
    font-size: 20px;
}

.SFX {
    overflow: hidden;
    border: 2px solid rgb(138, 254, 122);
    box-shadow: rgb(138, 254, 122) 8px 8px 0px 0px;
    color: rgb(255, 255, 255);
    background-color: rgb(15, 133, 0);
    width: calc(100% - 12px);
    border-radius: 8px;
    margin: 0 0 16px;
    padding: 8px 20px;
    display: flex;
    padding-right: 44px;
    padding-left: 44px;
    font-size: 16px;
    line-height: 1.5;
}

.SFX:hover {
    border: 2px solid rgb(15, 133, 0);
    box-shadow: rgb(15, 133, 0) 8px 8px 0px 0px;
    color: rgb(255, 255, 255);
    background-color: rgb(138, 254, 122);
}

.Link {
    overflow: hidden;
    border: 2px solid rgb(138, 254, 122);
    box-shadow: rgb(138, 254, 122) 8px 8px 0px 0px;
    color: rgb(255, 255, 255);
    background-color: rgb(15, 133, 0);
    width: calc(100% - 12px);
    border-radius: 8px;
    margin: 0 0 16px;
    padding: 16px 20px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    padding-right: 44px;
    padding-left: 44px;
    font-size: 16px;
    text-align: center;
    line-height: 1.5;
}
.LinkInsideTheNightmare {
    overflow: hidden;
    border: 2px solid rgb(255, 0, 0);
    box-shadow: rgb(255, 0, 0) 8px 8px 0px 0px;
    color: black;
    background-color: rgb(253, 229, 98);
    width: calc(100% - 12px);
    border-radius: 8px;
    margin: 0 0 16px;
    padding: 16px 20px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    padding-right: 44px;
    padding-left: 44px;
    font-size: 16px;
    text-align: center;
    line-height: 1.5;
}

.LinkInsideTheNightmare:hover {
    border: 2px solid rgb(253, 229, 98);
    box-shadow: rgb(253, 229, 98) 8px 8px 0px 0px;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
}
.Link:hover {
    border: 2px solid rgb(15, 133, 0);
    box-shadow: rgb(15, 133, 0) 8px 8px 0px 0px;
    color: rgb(255, 255, 255);
    background-color: rgb(138, 254, 122);
}

.Icons {
    margin: 8px 0 0;
    background-color: transparent;
}

.image {
    width: 40px;
    height: 40px;
    transition: transform .1s;
    will-change: transform;
}

.media {
    margin: 0 4px;
}

.media:hover .image {
    transform: scale(1.075);
}

.contact {
    padding: 10px 0px 10px 10px;
    background-color: #550311;
    box-shadow: 0 5px 15px #000000;
}

/* Style the button that is used to open and close the collapsible content */
.Dropdown {
    overflow: hidden;
    border: 2px solid rgb(153, 4, 47);
    box-shadow: rgb(153, 4, 47) 8px 8px 0px 0px;
    color: rgb(255, 255, 255);
    background-color: rgb(69, 2, 14);
    width: calc(100% - 12px);
    border-radius: 8px;
    margin: 0 0 16px;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: center;
    padding: 0 44px;
    padding-right: 44px;
    padding-left: 44px;
    font-size: 16px;
    text-align: center;
    line-height: 1.5;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.Dropdown:hover {
    border: 2px solid rgb(69, 2, 14);
    box-shadow: rgb(69, 2, 14) 8px 8px 0px 0px;
    color: rgb(255, 255, 255);
    background-color: rgb(153, 4, 47);
}

.active {
    border: 2px solid rgb(69, 2, 14);
    box-shadow: rgb(69, 2, 14) 8px 8px 0px 0px;
    color: rgb(255, 255, 255);
    background-color: rgb(153, 4, 47);
    margin: 0;
}

/* Style the collapsible content. Note: hidden by default */
.DropdownContent {
    margin: 0 4px 8px 8px;
    background-color: rgb(69, 2, 14);
    display: none;
    overflow: hidden;
    padding: 8px;
    border-radius: 0 0 8px 8px;
}

.ImgContainer {
    position: relative;
    float: left;
}

.ImgOverlay {
    transition: .3s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.ImgContainer:hover .ImgOverlay {
    opacity: 1;
}

.text {
    background-color: rgb(153, 4, 47);
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

.Secret {
    text-align: center;
    width: 100%;
    vertical-align: middle;
    height: 100%;
    display: table-cell;
}

.Secret>iframe {
    width: 300px;
    height: 169px;
}

.Secret {
    height: 100%;
    width: 100%;
}

.Footer {
    height: 44px;
}

footer {
    color: #ffffff;
    background-color: transparent;
    font-weight: 700;
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 10px;
    margin-bottom: 46px;
    text-shadow:
    1px 1px 0 #000,
    -1px 1px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000;
}